:root {
  --color1: #951f2b;
  --color2: #f5f4d7;
  --color3: #e0dfb1;
  --color4: #a5a36c;
  --color5: #535233;
}

body {
  background-color: var(--color2);
  color: var(--color5);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: var(--color1);
  text-align: center;
  margin: 30px 0;
}

hr {
  border: 1px solid var(--color1);
  margin: 30px 0;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.options img {
  gap: 20px;
  padding: 20px;
  width: 120px;
  cursor: pointer;
  border-radius: 20%;
  border: 2px solid var(--color1);
  background-color: var(--color3);
  transition: transform 0.2s ease-in-out;
}

.options img:hover {
  transform: scale(1.1);
}

.player-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemy-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
}
